<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" />

<style>
    body{
        background: #fcba03;
        display: flex;
        justify-content: center;
        }
    .regForm{
        background: #58f72d;
        width: 280px;
        padding: 0px 0px 15px 15px;
        margin: 70px;
        font-size: 15px;
        }
    .name{
        display: flex;
        justify-content: center;
        }
    .elem{
        display: flex;
        justify-content: center;
        }
    </style>
    </head>
<body>
<div class="regForm">
    <form>
        <h2 class="name">Добро пожаловать</h2>
        <p></p>
        <a class="elem" href="/reg">Регистрация</a>
        <p></p>
        <a class="elem" href="/auth">Авторизация</a>
    </form>
</div>
</body>
</html>